<nav class="sticky top-0 z-50"
  [ngClass]="isScrolledMovil() ? 'bg-white' : ''"
  >
  <div class="max-w-5xl mx-auto px-5 py-5">
    <!-- Fila principal -->
    <div class="flex items-center justify-between">
      <!-- Logo -->
      <h1 class="text-4xl font-bold">
        Sa<span class="text-orange-500">l</span>ads
      </h1>
      <!-- Menú Desktop -->
      <ul class="hidden md:flex items-center gap-6 font-bold">
        <li class="hover:text-orange-500"><a routerLink="/">Home</a></li>
        <li class="hover:text-orange-500"><a routerLink="/about">About</a></li>
        <li class="hover:text-orange-500"><a routerLink="/contact">Contact</a></li>
        <li><button class="hover:text-orange-500">Luz</button></li>
      </ul>

      <!-- Botón hamburguesa -->
      <button
        class="text-black md:hidden "(click)="toggleMenu()">
        <img src="svg/hamburguesa.svg" alt="menu" class="w-8 h-8 block">
      </button>
    </div>

    <!-- Menú móvil -->
    @if (menuOpen) {
      <ul
        class="fixed top-20 left-0 w-full shadow-lg p-5 flex flex-col gap-4 font-bold md:hidden"
        [class.bg-white]="isScrolledMovil()">
        <li class="hover:text-orange-500"><a routerLink="/">Home</a></li>
        <li class="hover:text-orange-500"><a routerLink="/about">About</a></li>
        <li class="hover:text-orange-500"><a routerLink="/contact">Contact</a></li>
        <li><button class="hover:text-orange-500">Luz</button></li>
      </ul>
    }
  </div>

</nav>
