<!--Cards nutricional-->
<section class="bg-neutral-50 mx-auto mt-20 lg:w-360">
 <div class="flex flex-col items-center md:grid grid-cols-3 gap-2">
  <app-mini-card
    iconPath="/svg/apple.svg"
    iconColor="#f97316"
    hoverColor="#00c951"
    title="Healthy Food"
    description="Ras effic itur metusga via suscipit consectetur adipisicing unde omnis">
  </app-mini-card>
  <app-mini-card
    iconPath="/svg/food.svg"
    iconColor="#f97316"
    hoverColor="#00c951"
    title="Fresh Salads"
    description="Ras effic itur metusga via suscipit consectetur adipisicing unde omnis">
  </app-mini-card>
  <app-mini-card
    iconPath="/svg/carrot.svg"
    iconColor="#f97316"
    hoverColor="#00c951"
    title="Natural Fiber"
    description="Ras effic itur metusga via suscipit consectetur adipisicing unde omnis">
  </app-mini-card>
  <app-mini-card
    iconPath="/svg/lemon.svg"
    iconColor="#f97316"
    hoverColor="#00c951"
    title="Nutriotional Food"
    description="Ras effic itur metusga via suscipit consectetur adipisicing unde omnis">
  </app-mini-card>
  <app-mini-card
    iconPath="/svg/heart.svg"
    iconColor="#f97316"
    hoverColor="#00c951"
    title="Protect Your Heart"
    description="Ras effic itur metusga via suscipit consectetur adipisicing unde omnis">
  </app-mini-card>
  <app-mini-card
    iconPath="/svg/weight.svg"
    iconColor="#f97316"
    hoverColor="#00c951"
    title="Weight Control"
    description="Ras effic itur metusga via suscipit consectetur adipisicing unde omnis">
  </app-mini-card>
 </div>

</section>
<!--Infomación CHEF-->
<section class="flex flex-col items-center lg:flex-row lg:ml-50 mt-10">
  <div class="p-4 mx-10">
   <h2 class="text-[32px] font-bold md:text-5xl">Meet Our Best <span class="text-amber-500">Chef's</span></h2>
   <p class="mt-5">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas
      magna at porttitor vehicula nullam augue ipsum dolor. Aenean egestas
      magna at porttitor ehicula nullam augue ipsum dolor.
   </p>
   <p class="mt-4">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas
    magna at porttitor vehicula nullam augue ipsum dolor.
   </p>
   <button class="bg-orange-500 hover:bg-green-500 px-8 p-3 rounded-3xl text-white font-bold mt-8">See Our Chef's</button>
 </div>
 <img src="/chefs/chef-1.png" alt="chef" class="w-80 mt-6 md:w-100 lg:mr-50">
</section>
